* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix {
      content: "";
      display: table;
      clear: both;
  }

.container.fullwidth1 {
    background-color: #0d325a;
}

.wrapper {
    margin: 0 auto;
    width 70%;
    max-width: 1200px;
}
header {
    text-align: center;
}

nav  {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

li {
    display: inline-block;
    color: white;
}

ul.menu,ul.header-buttons {
    display: inline-block;
}

.first-block {
    margin-top: 30px;
}

.claimcall {
    /* edit centra diversamente */
    margin: 90px 0 30px 100px;
    width: 600px;
}

.claimcall h1 {
    font-size: 45px;
    line-height: 55px;
    padding-right: 50px;
    color: white;
    margin-bottom: 30px;
}

.container.fullwidth2 {
    background-color: #f9f9f9;
}

.wrapper.band {
    text-align: center;
}

.wrapper.band h3 {
    color: gray;
    line-height: 2;
}

.wrapper.second-block {
    text-align: center;
}

section {
    width: 33.3333%;
    height: 33.3333%;
    float: left;
}

.img-wrapper{
    width: 319px;
    margin-left: 80px;

}
.img-wrapper h3 {
    color: #7fb802;
    margin-bottom: 20px;
}
