* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix {
      content: "";
      display: table;
      clear: both;
  }

.container.fullwidth1 {
    background-color: #0d325a;
}

header {
    height: 20%;
    /* to discard */
    text-align: center;
}

nav  {
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
    display: inline-block;
}

.logo {
    display: inline-block;
}

li {
    display: inline-block;
}

ul.menu,ul.header-buttons {
    display: inline-block;
}
