* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

.container.fullwidth1 {
    background-color: #0d325a;
    padding-bottom: 60px;
}

.wrapper {
    margin: 0 auto;
    width 70%;
    max-width: 1200px;
}
header {
    text-align: center;
    padding-top: 30px;
    margin-left: 135px
}

nav  {
    display: inline-block;

}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.logo img {
    width: 120px;
    margin-left: 20px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}

li {
    display: inline-block;
    color: white;
    padding-right: 10px;
    font-weight: 700;
    font-size: 11px;
}

ul.menu,ul.header-buttons {
    display: inline-block;
    margin-left: 80px;
}

#tutor {
    color: #8299ad;
}

.first-block {
    margin-top: 100px;
    margin-left: 125px;
}

.claimcall {
    width: 600px;
    position: relative;
}

.claimcall h1 {
    font-size: 45px;
    line-height: 55px;
    padding-right: 50px;
    color: white;
    margin-bottom: 30px;
}

.container.fullwidth2 {
    background-color: #f9f9f9;
    padding: 40px;
    margin-bottom: 30px;
}

.wrapper.band {
    text-align: center;
}

.wrapper.band h3 {
    color: gray;
    line-height: 2;
}

.wrapper.second-block {
    text-align: center;
}

section {
    width: 33.3333%;
    height: 33.3333%;
    float: left;
}

.img-wrapper{
    width: 319px;
    margin-left: 80px;

}
.img-wrapper h3 {
    color: #7fb802;
    margin-bottom: 20px;
}

.img-wrapper img {
    height: 152px;
    margin-bottom: 60px;
}

.biz-img img {
    width: 983px;
    height:414px;
}

.biz-img {
    display: inline-block;
    position: absolute;
    top: 80%;
    left:80%;
}
.button {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    letter-spacing: .0182em;
    border-radius: 5px;

}
.get-a-plan {
    background-color:#7fb802;

}

.login {
    border: 1px solid #4e8cb6;
}
